.links{
    display:flex;
    flex-direction: row;
    margin: 2px 0px 2px 0px;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  .links a{
    color: #e6e6e6;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
    padding: 0px 15px 0px 15px;
  }
  .links a:hover {
    color: hsl(145, 100%, 62%);
  }
  .img{
    border-radius: 10px;
    max-width: 80%;
    height: auto;
  }